/* VARS */

:root {
	--main_font: 'Oleo Script', cursive;
	--secondary_font: 'Rubik Moonrocks', cursive;
	--green: #3BA964;
	--bgPrimary: url(img/BG/bgPrimary.jpg);
	--bgSecondary: url(img/BG/bgSecondary.jpg);

}

/* / VARS */

body {
	margin: auto 0;
	padding: auto 0;
	font-family: var(--main_font);
	font-family: var(--);
}

/* HOMEPAGE */

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 770px;
	background-image: url(img/BG/bgHome.jpeg);
	background-size: cover;
}

.fLook {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 770px;
	color: white;
	word-spacing: 10px;
	font-family: var(--secondary_font);
}

.fLook p{
	font-size: 22px;
	color: var(--green);;
}

/* .fLook h2 {
	font-family: var(--secondary_font);
} */
button {
	color: lightgray;
	border-color: lightgray;
	border-radius: 12px;
	background: none;
	padding: 3px 14px;
	cursor: pointer;
	box-shadow: 0 5px lightgray;
}
button:hover {
	background-color: var(--green);
	color: white!important;
}
button:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.cv_down{
	color: black
}

/*  / HOMEPAGE */

/* ABOUT */

#about {
	display: flex;
	justify-content: center;
	min-height: 770px;
	background-image: var(--bgPrimary);
	background-size: cover;
}

#about h2 {
	padding-top: 10%;
}

.wraper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 770px;
}
.wraper img {
	border: 5px solid var(--green);
	border-radius: 50%;
	height: 226px;
	width: 195px;
    margin-bottom: 14px;

}
.hardLine {
	background-color: var(--green);
	border: solid 2px var(--green);
	height: 636px;
	margin-left: 10%;
	margin-right: 5%;
}

.my_life span{
	color: var(--green);
	font-weight: bold;
}

.my_life a{
	text-decoration: none;
}
/*  / ABOUT */

/* SKILLS */
#skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 770px;
	background-image: var(--bgSecondary);
	background-size: cover;
	color: white;
	font-family: var(--secondary_font);
}

#skills h2 {
	padding-top: 4%;
	margin-left: 367px;
}

.technical_skills li{
	list-style-type: none;
	color: var(--green);
}

.technical_skills i{
	color: white;
	font-size: 40px;
}

.all_skills{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 845px;
	max-width: 770px;
}

.soft_skills{
	height: 597px;
}

.soft_skills a{
	color: var(--green);
	text-decoration: none;
	
}
/*  / SKILLS */

/* PROJECTS */
#projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 770px;
	background-image: var(--bgPrimary);
	background-size: cover;
}

#projects h2{
	padding-top: 4%;
	margin-left: 40%;
	margin-bottom: 12%;
}

.all_projects span{
	color: var(--green);
	font-weight: bold;
}

.all_projects button{
	color: black;
}

.all_projects h3{
	margin-left: 40px;
}
.project{
	display: flex;
	margin-left: 40px;
	margin-bottom: 10%;
}

#projects img{
	border: 5px solid var(--green);
	border-radius: 1.5%;
	height: 300px;
	width: 600px;
}
/*  / PROJECTS */

#contact { 
	border: 1px solid black;
	border-radius: 12px;
	background-color: purple;
	text-align: center;
}
footer {
	border: 1px solid black;
	border-radius: 12px;
	background-color: lightgray;
	text-align: center;
}